# -*- coding: utf-8 -*-
# vim: ft=yaml
---
# the client code can use the settings from a salt mine if you set this up
mine_functions:
  velociraptor_client_settings:
    - mine_function: grains.get
    - velociraptor

# both chunks are recursively merged into the configuration file so you can set any setting you want
velociraptor:
  # disabled by default
  use_apparmor: False
  # used for accessing salt mine
  server_address: velociraptor.example.com
  server_self_monitor: True
  ca_certificate: /usr/share/pki/trust/anchors/filename.pem
  client:
    # default profile, can be set to restricted
    apparmor_profile: unrestricted
    config:
      Client:
        server_urls:
          - https://velociraptor.example.com:8000/
  server:
    config:
      Frontend:
        bind_address: 127.0.0.1
        tls_certificate_filename: /etc/ssl/services/velociraptor.example.com.with.chain.pem.ecdsa
        tls_private_key_filename: /etc/ssl/services/velociraptor.example.com.with.chain.pem.ecdsa
        proxy_header: X-Forwarded-For
